body{
    background-color: black;

    background-image: linear-gradient(rgb(5, 5, 5) 55%, rgb(95, 25, 15) 45%);

}

#grad {
    background-image: linear-gradient(rgb(5, 5, 5) 55%, rgb(95, 25, 15) 45%);
  }